*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
}
nav{
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    min-width: 50%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0px 7px rgba(0,0,0,0.1);
    border: 1px solid #33333327 ;
    z-index: 9;

}
nav img{
    width: 70px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #cc2d2d;
}
nav .icons-container{
    min-width: 50px;
    font-size: 23px;
    display: flex;
    gap: 15px;
}