*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: #f4f4f4f9; */
    padding: 0;
    margin: 0;
}
:root{
    --main-grid: oklab(71.141% -0.09999 -0.081 / 0.644);
    --main-sky: #10b4d4;
}
nav{
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    min-width: 50%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0px 7px rgba(0,0,0,0.1);
    border: 1px solid #33333327 ;
    z-index: 9;

}
nav img{
    width: 70px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}
nav ul li a:hover {
    color: var(--main-grid);
}
nav .icons-container{
    min-width: 50px;
    font-size: 23px;
    display: flex;
    gap: 15px;
}

/* HERO SECTION */

.hero{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hero .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero .container::before,.hero .container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 125%;
    height: 1px;
    background: var(--main-grid);
}
.hero .container::after{
    top: 100%;
}
.hero::before,.hero::after{
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--main-grid);
}
.hero::after{
    top: 100%;
    transform: translateY(-100px);
}
.hero .gridline-h::before,.hero .gridline-h::after{
    content: '';
    position: absolute;
    top: 0;
    left: 100px;
    width: 1px;
    height: 100%;
    background: var(--main-grid);
}
.hero .gridline-h::after{
    left: 100%;
    transform: translateX(-100px);
}
.hero .container .info{
    width: 60%;
}
.hero .container .info h2{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--main-sky);
    margin-bottom: 0px;
}
.hero .container .info p{
    opacity: 0.7;
    margin-bottom: 25px;
}
.cta-btn{
    background: var(--main-sky);
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 100px;
}
.hero-img-container{
    width: 40%;
    position: relative;
}
.hero-img-container::before,.hero-img-container::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width:1px;
    height: 100vh;
    background: var(--main-grid);
}
.hero-img-container::after{
    left: 100%;
}
.hero .container .hero-image{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container .hero-image img{
    object-fit: cover;
    width: 100%;
}
