nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}
nav img{
    width: 120px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #cc2d2d;
}